.DS_Store
*.suo
*.user
*.cache
*.ncb
*.log
*.jbf
*.sdf
*.cachefile
*.orig
*.pidb
*.userprefs
*.resources
*.opensdf
*.o
*.d
thumbs.db
UpgradeLog.xml
ipch/
Content/
Scratch/
Debug/
Release/
bin/
obj/
SubmissionInfo/
Scaffold_*/
_UpgradeReport_Files/
